<%= form_with(model: [comment_target, Comment.new], local: true) do |form| %>
  <% if comment_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment_target.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment_target.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :text, required: true %>
  </div>

  <div class="actions">
    <%= form.submit t('helpers.submit.add_comment') %>
  </div>
<% end %>
